html, body, #app, #app>div {
    height: 100%;
    width:100%;
  }
body{
    background-color: #121212f7;
}
.Container{
    background-color: blue;
    height:100vh;
}
h2{
    color: white;
}
span{
    color: white;
}
.makegrid{
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.block{
    
    background: #101214b8;
    padding: 5rem;
    border-radius: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-style: solid;
    border-color: white;
}